{% extends 'BlogBundle::user.html.twig' %}
	{% block content %}
	    {% block fos_user_content %}{% endblock %}
	    <div class="annance">
	    	the code source is avaliable in https://github.com/ylmrabti/FreeBlog
	    </div>
	{% endblock %}